stage {
  font-family: "Ubuntu";
  font-size: 9pt;
}
#panel {
    font-weight: 500;
    height: 2em;
    .panel-button {
        font-weight: 500;
    }
}
.calendar-day-base {
    font-size: 9pt;
    &.calendar-day-heading {
        font-size: 9pt;
    }
}
