stage {
  font-family: "Noto Sans", Sans-Serif;
  font-size: 9pt;
}
#panel {
    font-weight: 500;
    //height: 1.9em;
}
.calendar-day-base {
    font-size: 9pt;
    &.calendar-day-heading {
        font-size: 9pt;
    }
}
