stage {
    font-family: "Ubuntu", Sans-Serif;
    font-size: 10pt;
}
#panel {
    font-size: 9pt;
    font-weight: 500;
    height: 1.9em;
}
#panel .panel-button {
    font-weight: 500;
}
.calendar-day-base {
    font-size: 10pt;
    &.calendar-day-heading {
        font-size: 10pt;
    }
}
